<div th:fragment="footer">
    <script>
        let menuToggle = document.querySelector('.toggle');
        let navigator = document.querySelector('.navigation');


        menuToggle.onclick = function () {
            menuToggle.classList.toggle('active');
            navigator.classList.toggle('active');
        }

        const list = document.querySelectorAll('.list');

        function activeLink() {
            list.forEach(item => item.classList.remove('active'));
            this.classList.add('active');
        }

        list.forEach(item => item.addEventListener('click', activeLink));
    </script>
    <script src="/static/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</div>