<div th:fragment="header">
    <div class="fixed-top mb-5">
        <nav>
            <div class="navigation">
                <ul>
                    <li class="list active">
                        <a th:href="@{/}">
                                <span class="icon">
                                    <ion-icon name="home-outline"></ion-icon>
                                </span>
                            <span class="text">Главная</span>
                        </a>
                    </li>
                    <li class="list" id="post">
                        <a th:href="@{/post}">
                                <span class="icon">
                                    <ion-icon name="book-outline"></ion-icon>
                                </span>
                            <span class="text">Блог</span>
                        </a>
                    </li>
                    <li class="list" id="title">
                        <a th:href="@{/title}">
                                <span class="icon">
                                    <ion-icon name="videocam-outline"></ion-icon>
                                </span>
                            <span class="text">Сериалы</span>
                        </a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="list" id="user">
                        <a th:href="@{/user}">
                            <span class="icon">
                                <ion-icon name="person-circle-outline"></ion-icon>
                            </span>
                            <span class="text" sec:authentication="name"/>
                        </a>
                    </li>
                    <li sec:authorize="!isAuthenticated()" class="list">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#signModal">
                            <span class="icon">
                                <ion-icon name="person-circle-outline"></ion-icon>
                            </span>
                            <span class="text">Вход</span>
                        </a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="list" id="settings">
                        <a th:href="@{/user/settings}">
                                <span class="icon">
                                    <ion-icon name="settings-outline"></ion-icon>
                                </span>
                            <span class="text">Настройки</span>
                        </a>
                    </li>
                    <li sec:authorize="!isAuthenticated()" class="list">
                        <a th:href="@{/registration}">
                            <span class="icon">
                                <ion-icon name="person-circle-outline"></ion-icon>
                            </span>
                            <span class="text">Регистрация</span>
                        </a>
                    </li>
                    <div class="toggle">
                        <ion-icon name="menu-outline" class="open"></ion-icon>
                        <ion-icon name="close-outline" class="close"></ion-icon>
                    </div>
                    <div class="indicator"></div>
                </ul>
            </div>
        </nav>

    </div>

    <div id="signModal" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Вход</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="text" class="form-control mb-1" name="username" id="username-id" placeholder="Username:">
                        <input type="password" class="form-control" name="password" id="password-id" placeholder="Password:">
                        <input class="form-check-input" type="checkbox" value="" id="remember-id">
                        <label class="form-check-label" for="remember-id">Запомнить меня</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-outline-primary" onclick="sendLoginData()">Войти</button>
                </div>
            </div>
        </div>
    </div>
</div>