<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <link rel="icon" type="image/vnd.microsoft.icon" href="/static/icon/favicon.ico"/>
        <link rel="apple-touch-icon" href="/static/icon/apple-touch-icon.png"/>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="apple-mobile-web-app-status-bar" content="#add4ff">
        <meta name="theme-color" content="#add4ff">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/style/navbar.css">

        <title>Настройки пользователя</title>
    </head>
    <body>
        <header>
            <nav>
                <div class="navigation">
                    <ul>
                        <li class="list">
                            <a th:href="@{/}">
                                    <span class="icon">
                                        <ion-icon name="home-outline"></ion-icon>
                                    </span>
                                <span class="text">Главная</span>
                            </a>
                        </li>
                        <li class="list">
                            <a th:href="@{/post}">
                                    <span class="icon">
                                        <ion-icon name="book-outline"></ion-icon>
                                    </span>
                                <span class="text">Блог</span>
                            </a>
                        </li>
                        <li class="list">
                            <a th:href="@{/title}">
                                    <span class="icon">
                                        <ion-icon name="videocam-outline"></ion-icon>
                                    </span>
                                <span class="text">Сериалы</span>
                            </a>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="list">
                            <a th:href="@{/user}">
                                <span class="icon">
                                    <ion-icon name="person-circle-outline"></ion-icon>
                                </span>
                                <span class="text" id="userName" sec:authentication="name"/>
                            </a>
                        </li>
                        <li sec:authorize="!isAuthenticated()" class="list">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#signModal">
                                <span class="icon">
                                    <ion-icon name="person-circle-outline"></ion-icon>
                                </span>
                                <span class="text">Вход</span>
                            </a>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="list active">
                            <a th:href="@{/user/settings}">
                                    <span class="icon">
                                        <ion-icon name="settings-outline"></ion-icon>
                                    </span>
                                <span class="text">Настройки</span>
                            </a>
                        </li>
                        <li sec:authorize="!isAuthenticated()" class="list">
                            <a th:href="@{/registration}">
                                <span class="icon">
                                    <ion-icon name="person-circle-outline"></ion-icon>
                                </span>
                                <span class="text">Регистрация</span>
                            </a>
                        </li>
                        <div class="toggle">
                            <ion-icon name="menu-outline" class="open"></ion-icon>
                            <ion-icon name="close-outline" class="close"></ion-icon>
                        </div>
                        <div class="indicator"></div>
                    </ul>
                </div>
            </nav>

            <div id="signModal" class="modal fade">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">Вход</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <input type="text" class="form-control mb-1" name="username" id="username-id" placeholder="Username:">
                                <input type="password" class="form-control" name="password" id="password-id" placeholder="Password:">
                                <input class="form-check-input" type="checkbox" value="" id="remember-id">
                                <label class="form-check-label" for="remember-id">Запомнить меня</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <button type="button" class="btn btn-outline-primary" onclick="sendLoginData()">Войти</button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="container mt-5">
                <h1>Настройки пользователя</h1>
                <p>Данная часть приложения находится в работе...
                    Вы можете вернуться на главную <a href="/">нажав сюда</a>
                </p>
                <form th:action="@{/logout}" method="get">
                    <h3>Выйти из аккаунта?</h3>
                    <button type="submit" class="btn btn-danger">Выход</button>
                </form>
            </div>
        </main>
        <footer th:insert="partials/footer :: footer"></footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>